<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Reporting Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
